.lettersUsed {
  width: 100%;
  margin-top: 3.25rem;
  border-top: 1px solid #c3c3c3;

}

.lettersUsed > h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem;
  color: #32325f;

}

.lettersUsed > div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
